/*
* This program is free software; you can redistribute it and/or modify it under the
* terms of the GNU Lesser General Public License, version 2.1 as published by the Free Software
* Foundation.
*
* You should have received a copy of the GNU Lesser General Public License along with this
* program; if not, you can obtain a copy at http://www.gnu.org/licenses/old-licenses/lgpl-2.1.html
* or from the Free Software Foundation, Inc.,
* 51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.
*
* This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY;
* without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
* See the GNU Lesser General Public License for more details.
*
* Copyright 2005 - 2010 Pentaho Corporation.  All rights reserved.
*/

html, body {
    margin: 0px;
    padding: 0px;
    font-family: Tahoma, Helvetica, Arial, sans-serif;
    font-size: 14px;
    background: transparent;
}

div {
    outline: 0px;
    hideFocus: true;
}

img {
    outline: 0px;
    -moz-user-focus: none;
    user-focus: none;
}

label {
    font-size: 13px;
}

fieldset {
    padding: 0px;
    width: auto;
    border: 1px solid #888;
}

input[type='text'] {
    border: 1px solid #333;
}

*:focus {outline: none;}

.scroll-panel {
    position: relative;
    overflow: auto;
    height: 100%;
    width: 100%;
}

.pentaho-page-background {
    background: url('images/bg_pentaho_default.png') repeat-x top left;
    background-color: #303030;
}

/* Standard button style. Should be applied to a <button> element to get full pseudo-styles. */
.pentaho-button {
    /* fallback color */
    background: #000000;
    /* Safari/Chrome */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #AAA), color-stop(0.10, #888), color-stop(0.50, #3f3f3f), color-stop(0.55, #000), color-stop(0.90, #121212));
    /* Firefox */
    background: -moz-linear-gradient(#AAAAAA, #888888 10%, #3F3F3F 50%, #000000 55%, #121212 90%) repeat scroll 0 0 transparent;

    font-size: 12px;
    color: #ffffff;
    padding: 5px 14px;

    /* Standard form */
    border-radius: 5px;
    /* Firefox */
    -moz-border-radius: 5px;
    /* Safari/Chrome */
    -webkit-border-radius: 5px;

    border: 1px solid #333;

    /* Safari/Chrome */
    -webkit-box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.5), 0 1px 3px rgba(255, 255, 255, 0.7), 0 0 2px rgba(0, 0, 0, 0.7) inset;
    /* Firefox */
    -moz-box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.5), 0 1px 3px rgba(255, 255, 255, 0.7), 0 0 2px rgba(0, 0, 0, 0.7) inset;
    /* Standard form */
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.5), 0 1px 3px rgba(255, 255, 255, 0.7), 0 0 2px rgba(0, 0, 0, 0.7) inset;

    white-space: nowrap;
    text-shadow: 0px 0px 2px rgba(000, 000, 000, 1);
    cursor: pointer;
}

.IE .pentaho-button {
    height: auto;
    background: #000000 url('images/bg_btn.png') repeat-x left center;
    background-position: center center;
}

/* Applies the green glow to buttons */
.pentaho-button:hover {
    -webkit-box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.5), 0 1px 3px rgba(255, 255, 255, 0.7), 0 0 2px 1px rgba(115, 255, 2, 1) inset;
    -moz-box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.5), 0 1px 3px rgba(255, 255, 255, 0.7), 0 0 2px 1px rgba(115, 255, 2, 1) inset;
    box-shadow: 0 -2px 2px rgba(0, 0, 0, 0.5), 0 1px 3px rgba(255, 255, 255, 0.7), 0 0 2px 1px rgba(115, 255, 2, 1) inset;
}

.IE .pentaho-button:hover {
    border: 1px solid #73FF02;
}

.IE .pentaho-button-hover {
    border: 1px solid #73FF02;
}

/* Just lightening it up a bit */
.pentaho-button:active {
    background: -moz-linear-gradient(#C8C8C8, #AAA 10%, #666 50%, #353535 55%, #3F3F3F 90%) repeat scroll 0 0 transparent;

    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #C8C8C8), color-stop(0.10, #AAA), color-stop(0.50, #666), color-stop(0.55, #353535), color-stop(0.90, #3F3F3F));
}

.IE .pentaho-button:active {
    background: url('images/bg_btn_active.png') repeat-x left center;
}

/* lighter gray with white text */
.pentaho-button:disabled {
    color: white;

    background: -moz-linear-gradient(#AAA, #BBB 10%, #8d8d8d 50%, #727272 55%, #747474 90%) repeat scroll 0 0 transparent;

    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #AAA), color-stop(0.10, #BBB), color-stop(0.50, #8d8d8d), color-stop(0.55, #727272), color-stop(0.90, #747474));

    -webkit-box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.5), 0 1px 3px rgba(255, 255, 255, 0.7), 0 0 2px rgba(0, 0, 0, 0.2) inset;
    -moz-box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.5), 0 1px 3px rgba(255, 255, 255, 0.7), 0 0 2px rgba(0, 0, 0, 0.2) inset;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.5), 0 1px 3px rgba(255, 255, 255, 0.7), 0 0 2px rgba(0, 0, 0, 0.2) inset;
    text-shadow: 0px 0px 2px rgba(000, 000, 000, 4);
}

.IE .pentaho-button.disabled {
    background: url('images/bg_btn_disabled.png') repeat-x left center;
    cursor: default;
}
.IE .pentaho-button[disabled] {
  background: url('images/bg_btn_disabled.png') repeat-x left center;
  cursor: default;
}

.pentaho-toggle-button {
    /* fallback color */
    background: #000000;
    /* Safari/Chrome */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #AAA), color-stop(0.10, #888), color-stop(0.50, #3f3f3f), color-stop(0.55, #000), color-stop(0.90, #121212));
    /* Firefox */
    background: -moz-linear-gradient(#AAAAAA, #888888 10%, #3F3F3F 50%, #000000 55%, #121212 90%) repeat scroll 0 0 transparent;

    font-size: 12px;
    color: #ffffff;
    padding: 5px 14px;

    border: 1px solid #333;

    /* Safari/Chrome */
    -webkit-box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.5), 0 1px 3px rgba(255, 255, 255, 0.7), 0 0 2px rgba(0, 0, 0, 0.7) inset;
    /* Firefox */
    -moz-box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.5), 0 1px 3px rgba(255, 255, 255, 0.7), 0 0 2px rgba(0, 0, 0, 0.7) inset;
    /* Standard form */
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.5), 0 1px 3px rgba(255, 255, 255, 0.7), 0 0 2px rgba(0, 0, 0, 0.7) inset;

    white-space: nowrap;
    text-shadow: 0px 0px 2px rgba(000, 000, 000, 1);
    text-align: center;
    cursor: pointer;
    cursor: hand;
}

.pentaho-toggle-button button{
    background: transparent;
    border:none;
    color: inherit;
}

.pentaho-toggle-button-horizontal {
    margin: 2px 0px 2px 0px;
}

.pentaho-toggle-button-single {
    /* Standard form */
    border-radius: 5px 5px 5px 5px;
    /* Firefox */
    -moz-border-radius: 5px 5px 5px 5px;
    /* Safari/Chrome */
    -webkit-border-radius: 5px 5px 5px 5px;
}

.IE .pentaho-toggle-button-single {
    background: url('images/bg_btn.png') repeat-x;
    background-position: center center;
}

.pentaho-toggle-button-horizontal-first {
    /* Standard form */
    border-radius: 5px 0px 0px 5px;
    /* Firefox */
    -moz-border-radius: 5px 0px 0px 5px;
    /* Safari/Chrome */
    -webkit-border-radius: 5px 0px 0px 5px;
}

.pentaho-toggle-button-horizontal-last {
    /* Standard form */
    border-radius: 0px 5px 5px 0px;
    /* Firefox */
    -moz-border-radius: 0px 5px 5px 0px;
    /* Safari/Chrome */
    -webkit-border-radius: 0px 5px 5px 0px;
}

.pentaho-toggle-button-vertical {
    margin: 0px 2px 0px 2px;
}

.pentaho-toggle-button-vertical-first {
    margin: 2px 2px 0px 2px;
    /* Standard form */
    border-radius: 5px 5px 0px 0px;
    /* Firefox */
    -moz-border-radius: 5px 5px 0px 0px;
    /* Safari/Chrome */
    -webkit-border-radius: 5px 5px 0px 0px;
}

.pentaho-toggle-button-vertical-last {
    /* Standard form */
    border-radius: 0px 0px 5px 5px;
    /* Firefox */
    -moz-border-radius: 0px 0px 5px 5px;
    /* Safari/Chrome */
    -webkit-border-radius: 0px 0px 5px 5px;
}

/* Standard toggle button style. Should be applied to a <button> element to get full pseudo-styles. */
.pentaho-toggle-button-up, .pentaho-toggle-button-up-disabled {
}

.IE .pentaho-toggle-button-up, .IE .pentaho-toggle-button-up-disabled {
    background: url('images/bg_btn.png') repeat-x;
    background-position: center center;
}

/* Applies the green glow to buttons */
.pentaho-toggle-button-up-hovering {
    -webkit-box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.5), 0 1px 3px rgba(255, 255, 255, 0.7), 0 0 2px 1px rgba(115, 255, 2, 1) inset;
    -moz-box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.5), 0 1px 3px rgba(255, 255, 255, 0.7), 0 0 2px 1px rgba(115, 255, 2, 1) inset;
    box-shadow: 0 -2px 2px rgba(0, 0, 0, 0.5), 0 1px 3px rgba(255, 255, 255, 0.7), 0 0 2px 1px rgba(115, 255, 2, 1) inset;
}

.IE .pentaho-toggle-button-up-hovering {
    border: 1px solid #73FF02;
    background: url('images/bg_btn.png') repeat-x;
    background-position: center center;
}

/* Standard toggle-button style. Should be applied to a <button> element to get full pseudo-styles. */
.pentaho-toggle-button-down, .pentaho-toggle-button-down-disabled, .pentaho-toggle-button-down-hovering {
    color: black;
    text-shadow: 0px 0px 2px rgba(255, 255, 255, 1);

    -webkit-box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.5), 0 1px 3px rgba(255, 255, 255, 0.7), 0 0 2px 1px rgba(115, 255, 2, 1) inset;
    -moz-box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.5), 0 1px 3px rgba(255, 255, 255, 0.7), 0 0 2px 1px rgba(115, 255, 2, 1) inset;
    box-shadow: 0 -2px 2px rgba(0, 0, 0, 0.5), 0 1px 3px rgba(255, 255, 255, 0.7), 0 0 2px 1px rgba(115, 255, 2, 1) inset;

    background: #669335; /* Old browsers */
    background: -moz-linear-gradient(top, #669335 0%, #90d546 48%, #e3f6ce 54%, #afd390 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #669335), color-stop(48%, #90d546), color-stop(54%, #e3f6ce), color-stop(100%, #afd390)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #669335 0%, #90d546 48%, #e3f6ce 54%, #afd390 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #669335 0%, #90d546 48%, #e3f6ce 54%, #afd390 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, #669335 0%, #90d546 48%, #e3f6ce 54%, #afd390 100%); /* IE10+ */
    background: linear-gradient(top, #669335 0%, #90d546 48%, #e3f6ce 54%, #afd390 100%); /* W3C */
}

.IE .pentaho-toggle-button-down, .IE .pentaho-toggle-button-down-disabled {
    background: url('images/bg_btn_selected.png') repeat-x;
    background-position: center center;
}

.IE .pentaho-toggle-button-down-hovering {
    border: 1px solid #73FF02;
    background: url('images/bg_btn_selected.png') repeat-x;
    background-position: center center;
}

/* Note: By default there is no padding on the bottom as the button area supplies the necessary amount. If your dialog
has no buttons add an addition class to your element, pentaho-dialog-buttonless, to have full padding around the contents*/
.pentaho-dialog {
    border: 1px solid rgba(255, 255, 255, 0.59375);
    z-index: 1000;
    position: absolute;

    /* Firefox */
    -moz-border-radius: 7px;
    /* Safari/Chrome */
    -webkit-border-radius: 7px;
    /* Standard form */
    border-radius: 7px;

    /* Firefox */
    -moz-box-shadow: 1px 1px 6px 0px #000000;
    /* Safari/Chrome */
    -webkit-box-shadow: 1px 1px 6px 0px #000000;
    /* Standard form */
    box-shadow: 1px 1px 6px 0px #000000;

    background: rgba(255, 255, 255, 0.5);
    padding: 8px 8px 0px 8px;
}

.IE .pentaho-dialog {
    border: 1px solid #000000;
    background: url('../images/wt_transparent.png') repeat;
}

/* Secondary style applied to pentaho-dialog elements to add a continuous 8px padding. */
.pentaho-dialog-buttonless {
    padding: 8px 8px 3px 8px;
}

.pentaho-dialog .Caption {
    background: -moz-linear-gradient(top, #1a1a1a 0%, #333333 50%, #000000 51%, #000000 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1a1a1a), color-stop(50%, #333333), color-stop(51%, #000000), color-stop(100%, #000000)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #1a1a1a 0%, #333333 50%, #000000 51%, #000000 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #1a1a1a 0%, #333333 50%, #000000 51%, #000000 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, #1a1a1a 0%, #333333 50%, #000000 51%, #000000 100%); /* IE10+ */
    background: linear-gradient(top, #1a1a1a 0%, #333333 50%, #000000 51%, #000000 100%); /* W3C */

    font-size: 13px;
    color: white;
    cursor: move;

    /* Safari/Chrome */
    -moz-box-shadow: rgba(255, 255, 255, 0.6) 0px 0px 1px 1px inset;
    /* Firefox */
    -webkit-box-shadow: rgba(255, 255, 255, 0.6) 0px 0px 1px 1px inset;
    /* Standard form */
    box-shadow: rgba(255, 255, 255, 0.6) 0px 0px 1px 1px inset;
    padding: 6px;

    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    /* bottom border supplied by .dialog-content */
    text-align: left;
    text-shadow: 0px 0px 2px black;
}

.IE .pentaho-dialog .Caption {
    background: url('images/bg_title.png') repeat-x;
}

.pentaho-dialog .button-panel {
    padding: 3px 0px 2px 0px;
    width: 100%;
}

.pentaho-dialog .button-panel .pentaho-button {
    margin-left: 5px;
}

.dialog-content {
    border: 1px solid black;
    background: #d4d6db;
}

.dialog-button-panel {
    padding: 2px 0px;
}

/* The following classes are handing tons of intermediate and extraneous elements generated by the GWT dialog implementation */
.pentaho-dialog .dialogTopCenterInner {
}

.pentaho-dialog .dialogMiddleCenter {
    height: 100%;
}

.pentaho-dialog .dialogMiddleCenterInner {
    height: 100%;
}

.pentaho-dialog .dialogMiddleLeft {
    display: none;
}

.pentaho-dialog .dialogMiddleRight {
    display: none;
}

.pentaho-dialog .dialogTopLeft {
    display: none;
}

.pentaho-dialog .dialogTopRight {
    display: none;
}

.pentaho-dialog .dialogBottomLeft {
    display: none;
}

.pentaho-dialog .dialogBottomRight {
    display: none;
}

/* Find a home for these */
.login-dialog {
    z-index: 2000;
}

.error-login-dialog {
    z-index: 2100;
}

/**/

.glasspane {
    position: absolute;
    background-color: black;
    /* IE8 css hack for opacity */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=65)";
    filter: alpha(opacity = 65);
    opacity: 0.65;

    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    z-index: 300;
    margin: 0px;
    padding: 0px;
    display: none;
}

.pentaho-tabWidget {
    display: block;
    float: left;

    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #333333), color-stop(0.10, #454545), color-stop(0.50, #3f3f3f), color-stop(0.55, #000), color-stop(0.90, #121212));

    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top: solid 1px #666;
    border-left: solid 1px #666;
    border-right: solid 1px #666;
    background: rgb(63, 63, 63); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(63, 63, 63, 1) 0%, rgba(39, 39, 39, 1) 80%, rgba(0, 0, 0, 1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(63, 63, 63, 1)), color-stop(80%, rgba(39, 39, 39, 1)), color-stop(100%, rgba(0, 0, 0, 1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(63, 63, 63, 1) 0%, rgba(39, 39, 39, 1) 80%, rgba(0, 0, 0, 1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(63, 63, 63, 1) 0%, rgba(39, 39, 39, 1) 80%, rgba(0, 0, 0, 1) 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, rgba(63, 63, 63, 1) 0%, rgba(39, 39, 39, 1) 80%, rgba(0, 0, 0, 1) 100%); /* IE10+ */
    background: linear-gradient(top, rgba(63, 63, 63, 1) 0%, rgba(39, 39, 39, 1) 80%, rgba(0, 0, 0, 1) 100%); /* W3C */
    cursor: pointer;
    margin-left: 2px;
    padding: 4px 8px;
}

.IE .pentaho-tabWidget {
    background: url('images/tab_off.png') repeat-x;
    background-color: rgb(25, 25, 25);
    /* Not forcing this height sometimes causes a separation between the tab button and the pane */
    height: 21px; /* = 30 - 4 - 4 - 1 */
}

.pentaho-tabWidget .pentaho-tabWidgetLabel {
    margin: 0px;
    padding-bottom: 0px;
    font-size: 13px;
    color: #ccc;
    white-space: nowrap;
    text-shadow: 0px 1px 1px #222;
}

.dialog-content .pentaho-tabWidget .pentaho-tabWidgetLabel {
  font-size: 14px;
}
.pentaho-tabWidget-selected {
    border-top: solid 1px #222;
    border-left: solid 1px #222;
    border-right: solid 1px #222;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;

    /* gradient generator  http://www.colorzilla.com/gradient-editor/ */
    background: -moz-linear-gradient(top, rgba(79, 79, 79, 1) 0%, rgba(198, 198, 198, 0.98) 2%, rgba(142, 142, 142, 0.92) 7%, rgba(141, 141, 141, 0.88) 10%, rgba(124, 124, 124, 0.93) 47%, rgba(96, 96, 96, 0.93) 49%, rgba(84, 84, 84, 0.94) 59%, rgba(43, 43, 43, 1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(79, 79, 79, 1)), color-stop(2%, rgba(198, 198, 198, 0.98)), color-stop(7%, rgba(142, 142, 142, 0.92)), color-stop(10%, rgba(141, 141, 141, 0.88)), color-stop(47%, rgba(124, 124, 124, 0.93)), color-stop(49%, rgba(96, 96, 96, 0.93)), color-stop(59%, rgba(84, 84, 84, 0.94)), color-stop(100%, rgba(43, 43, 43, 1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(79, 79, 79, 1) 0%, rgba(198, 198, 198, 0.98) 2%, rgba(142, 142, 142, 0.92) 7%, rgba(141, 141, 141, 0.88) 10%, rgba(124, 124, 124, 0.93) 47%, rgba(96, 96, 96, 0.93) 49%, rgba(84, 84, 84, 0.94) 59%, rgba(43, 43, 43, 1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(79, 79, 79, 1) 0%, rgba(198, 198, 198, 0.98) 2%, rgba(142, 142, 142, 0.92) 7%, rgba(141, 141, 141, 0.88) 10%, rgba(124, 124, 124, 0.93) 47%, rgba(96, 96, 96, 0.93) 49%, rgba(84, 84, 84, 0.94) 59%, rgba(43, 43, 43, 1) 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, rgba(79, 79, 79, 1) 0%, rgba(198, 198, 198, 0.98) 2%, rgba(142, 142, 142, 0.92) 7%, rgba(141, 141, 141, 0.88) 10%, rgba(124, 124, 124, 0.93) 47%, rgba(96, 96, 96, 0.93) 49%, rgba(84, 84, 84, 0.94) 59%, rgba(43, 43, 43, 1) 100%); /* IE10+ */
    background: linear-gradient(top, rgba(79, 79, 79, 1) 0%, rgba(198, 198, 198, 0.98) 2%, rgba(142, 142, 142, 0.92) 7%, rgba(141, 141, 141, 0.88) 10%, rgba(124, 124, 124, 0.93) 47%, rgba(96, 96, 96, 0.93) 49%, rgba(84, 84, 84, 0.94) 59%, rgba(43, 43, 43, 1) 100%); /* W3C */
    color: #ffffff;
}

.IE .pentaho-tabWidget-selected {
    background: url('images/tab_on.png') repeat-x;
    background-color: #2b2b2b;
}

.pentaho-tabWidget-selected .pentaho-tabWidgetLabel {
    margin: 0px;
    padding-bottom: 0px;
    white-space: nowrap;
    color: #FFF;
    text-shadow: 0px 1px 1px #000;
}

.pentaho-tabPanel {
    border-top: 3px solid #2B2B2B;
    border-right: 1px solid #2B2B2B;
    border-bottom: 1px solid #2B2B2B;
    border-left: 1px solid #2B2B2B;
    clear: both;
}

.pentaho-tab-deck-panel {
    border-top: 3px solid #2B2B2B;
    border-right: 1px solid #2B2B2B;
    border-bottom: 1px solid #2B2B2B;
    border-left: 1px solid #2B2B2B;
    height: 100%;
}

.pucContentDeck .pentaho-tab-deck-panel {
    background: url('../images/tab_panel_bg.png');
}

.pentaho-tabWidget-close {
    margin-left: 4px;
}

/* ======================= Behins Scrollbar Styles ========================= */
/*
 * CSS Styles that are needed by jScrollPane for it to operate correctly.
 *
 * Include this stylesheet in your site or copy and paste the styles below into your stylesheet - jScrollPane
 * may not operate correctly without them.
 */

.jspContainer {
    overflow: hidden;
    position: relative;
}

.jspPane {
    position: absolute;
}

.jspVerticalBar {
    position: absolute;
    top: 0;
    right: 0;
    width: 16px;
    height: 100%;
    background: transparent;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#666666', endColorstr = '#666666', GradientType = 1);
    font-size: 0px;
}

.jspHorizontalBar {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 16px;
    background: transparent;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#666666', endColorstr = '#666666', GradientType = 1);
    font-size: 0px;
}

/*.jspVerticalBar *,
.jspHorizontalBar * {
  margin: 0;
  padding: 0;
}
*/
.jspCap {
    display: none;
}

.jspHorizontalBar .jspCap {
    float: left;
}

.jspTrack {
    position: relative;
}

.jspDrag {
    background: #bbd;
    position: relative;
    top: 0;
    left: 0;
    cursor: pointer;
}

.jspHorizontalBar .jspTrack {
    /* Safari/Chrome */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #333), color-stop(0.50, #777), color-stop(1, #333));
    /* Firefox */
    background: -moz-linear-gradient(top, #333, #777 50%, #333 100%);

    border-top: 1px solid #b5b5b5;
    border-bottom: 1px solid #b5b5b5;
    /* Safari/Chrome */
    -webkit-box-shadow: black 0px 0px 1px, rgba(0, 0, 0, 0.699219) 0px 0px 1px inset;

    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#777777', endColorstr = '#999999');
}

.jspVerticalBar .jspTrack {
    /* Safari/Chrome */
    background: -webkit-gradient(linear, left top, right top, color-stop(0, #333), color-stop(0.50, #777), color-stop(1, #333));
    /* Firefox */
    background: -moz-linear-gradient(left, #333, #777 50%, #333 100%);

    border-left: 1px solid #b5b5b5;
    border-right: 1px solid #b5b5b5;
    /* Safari/Chrome */
    -webkit-box-shadow: black 0px 0px 1px, rgba(0, 0, 0, 0.699219) 0px 0px 1px inset;
    /* Firefox */
    -moz-box-shadow: black 0px 0px 1px, rgba(0, 0, 0, 0.699219) 0px 0px 1px inset;
    /* Standard Form */
    box-shadow: black 0px 0px 1px, rgba(0, 0, 0, 0.699219) 0px 0px 1px inset;

    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#7777777', endColorstr = '#9999999', GradientType = 1);
}

.jspHorizontalBar .jspTrack,
.jspHorizontalBar .jspDrag {
    float: left;
    height: 100%;
}

.jspArrow {
    text-indent: -20000px;
    display: block;
    cursor: pointer;
}

.jspArrow.jspDisabled {
    cursor: default;
}

.jspVerticalBar .jspArrow {
    height: 16px;
}

.jspVerticalBar .jspArrowDown {

    /* Safari/Chrome */
    -webkit-border-bottom-left-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;

    /* Firefox */
    -moz-border-radius-bottomleft: 4px;
    -moz-border-radius-bottomright: 4px;

    border: 1px solid #b5b5b5;
    /* Safari/Chrome */
    -webkit-box-shadow: black 0px 0px 1px, rgba(0, 0, 0, 0.699219) 0px 0px 1px inset;
    /* Firefox */
    -moz-box-shadow: black 0px 0px 1px, rgba(0, 0, 0, 0.699219) 0px 0px 1px inset;
    /* Standard Form */
    box-shadow: black 0px 0px 1px, rgba(0, 0, 0, 0.699219) 0px 0px 1px inset;

    background: url("../images/scroll_bottom_arrow.png") no-repeat center center;
    /* Safari/Chrome */
    background: url("../images/scroll_bottom_arrow.png") center center no-repeat, -webkit-gradient(linear, left top, right top, color-stop(0, #282828), color-stop(0.50, #353535), color-stop(1, #282828));
    /* Firefox */
    background: url("../images/scroll_bottom_arrow.png") no-repeat scroll center center, -moz-linear-gradient(center top, #282828, #353535 50%, #282828 100%);

}

.jspVerticalBar .jspArrowUp {

    -webkit-border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px;

    -moz-border-radius-topleft: 4px;
    -moz-border-radius-topright: 4px;

    border: 1px solid #b5b5b5;
    /* Safari/Chrome */
    -webkit-box-shadow: black 0px 0px 1px, rgba(0, 0, 0, 0.699219) 0px 0px 1px inset;
    /* Safari/Chrome */
    -moz-box-shadow: black 0px 0px 1px, rgba(0, 0, 0, 0.699219) 0px 0px 1px inset;
    /* Standard Form */
    box-shadow: black 0px 0px 1px, rgba(0, 0, 0, 0.699219) 0px 0px 1px inset;

    background: url("../images/scroll_top_arrow.png") no-repeat center center;
    /* Safari/Chrome */
    background: url("../images/scroll_top_arrow.png") no-repeat center center, -webkit-gradient(linear, left top, right top, color-stop(0, #282828), color-stop(0.50, #353535), color-stop(1, #282828));
    /* Firefox */
    background: url("../images/scroll_top_arrow.png") no-repeat center center, -moz-linear-gradient(top, #282828, #353535 50%, #282828 100%);

}

.jspHorizontalBar .jspArrowLeft {

    /* Safari/Chrome */
    -webkit-border-top-left-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;

    /* Firefox */
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-bottomleft: 4px;

    border: 1px solid #b5b5b5;
    /* Safari/Chrome */
    -webkit-box-shadow: black 0px 0px 1px, rgba(0, 0, 0, 0.699219) 0px 0px 1px inset;
    /* Firefox */
    -moz-box-shadow: black 0px 0px 1px, rgba(0, 0, 0, 0.699219) 0px 0px 1px inset;
    /* Standard Form */
    box-shadow: black 0px 0px 1px, rgba(0, 0, 0, 0.699219) 0px 0px 1px inset;

    background: url("../images/scroll_left_arrow.png") no-repeat center center;
    /* Safari/Chrome */
    background: url("../images/scroll_left_arrow.png") no-repeat center center, -webkit-gradient(linear, left top, left bottom, color-stop(0, #282828), color-stop(0.50, #353535), color-stop(1, #282828));
    /* Firefox */
    background: url("../images/scroll_left_arrow.png") no-repeat center center, -moz-linear-gradient(left, #282828, #353535 50%, #282828 100%);
}

.jspHorizontalBar .jspArrowRight {

    /* Safari/Chrome */
    -webkit-border-top-right-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;

    /* Firefox */
    -moz-border-radius-topright: 4px;
    -moz-border-radius-bottomright: 4px;

    /* Firefox */
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;

    border: 1px solid #b5b5b5;

    /* Safari/Chrome */
    -webkit-box-shadow: black 0px 0px 1px, rgba(0, 0, 0, 0.699219) 0px 0px 1px inset;
    /* Firefox */
    -moz-box-shadow: black 0px 0px 1px, rgba(0, 0, 0, 0.699219) 0px 0px 1px inset;
    /* Standard Form */
    box-shadow: black 0px 0px 1px, rgba(0, 0, 0, 0.699219) 0px 0px 1px inset;

    background: url("../images/scroll_right_arrow.png") no-repeat center center;
    background-repeat: no-repeat;
    /* Safari/Chrome */
    background: url("../images/scroll_right_arrow.png") no-repeat center center, -webkit-gradient(linear, left top, left bottom, color-stop(0, #282828), color-stop(0.50, #353535), color-stop(1, #282828));
    /* Firefox */
    background: url("../images/scroll_right_arrow.png") no-repeat center center, -moz-linear-gradient(left, #282828, #353535 50%, #282828 100%);
}

.jspHorizontalBar .jspArrow {
    width: 16px;
    float: left;
    height: 16px;
}

.jspVerticalBar .jspArrow:focus {
    outline: none;
}

.jspVerticalBar .jspDrag {

    width: 8px;
    /* Safari/Chrome */
    -webkit-border-radius: 5px;
    /* Firefox */
    -moz-border-radius: 5px;
    /* Standard Form */
    border-radius: 5px;
    border: 1px solid black;

    /* Safari/Chrome */
    -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.7), 0 0 3px rgba(255, 255, 255, 1) inset;
    /* Firefox */
    -moz-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.7), 0 0 3px rgba(255, 255, 255, 1) inset;
    /* Standard Form */
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.7), 0 0 3px rgba(255, 255, 255, 1) inset;

    /* Safari/Chrome */
    background: url("../images/scroll_grabber.png") no-repeat center center, -webkit-gradient(linear, left top, right top, color-stop(0, #111), color-stop(0.50, #222), color-stop(1, #111));
    /* Firefox */
    background: url("../images/scroll_grabber.png") no-repeat center center, -moz-linear-gradient(left, #111, #222 50%, #111 100%);

    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#777777', endColorstr = '#5555555', GradientType = 1);
}

.jspHorizontalBar .jspDrag {

    height: 8px;
    /* Safari/Chrome */
    -webkit-border-radius: 5px;
    /* Firefox */
    -moz-border-radius: 5px;
    /* Standard Form */
    border-radius: 5px;
    border: 1px solid black;

    /* Safari/Chrome */
    -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.7), 0 0 3px rgba(255, 255, 255, 1) inset;
    /* Firefox */
    -moz-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.7), 0 0 3px rgba(255, 255, 255, 1) inset;
    /* Standard Form */
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.7), 0 0 3px rgba(255, 255, 255, 1) inset;

    /* Firefox */
    background: url("../images/scroll_grabber_horz.png") no-repeat center center, -webkit-gradient(linear, left top, left bottom, color-stop(0, #111), color-stop(0.50, #222), color-stop(1, #111));
    /* Safari/Chrome */
    background: url("../images/scroll_grabber_horz.png") no-repeat center center, -moz-linear-gradient(top, #111, #222 50%, #111 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#7777777', endColorstr = '#555555');
}

.jspHorizontalBar .jspTrack {
    padding-top: 2px;
}

.jspVerticalBar .jspTrack {
    padding-left: 2px;
}

.jspCorner {
    background: #eeeef4;
    float: left;
    height: 100%;
}

/* Yuk! CSS Hack for IE6 3 pixel bug :( */
* html .jspCorner {
    margin: 0 -3px 0 0;
}

/* ======================= End Scrollbar Styles ========================= */

/* ======================= Toolbar Styles ========================= */

.toolbar {
    width: 100%;
    height: 100%;
    vertical-align: middle;
    background-color: #d8d8d8;
    background-image: url(../images/subtoolbar_bg.png);
    background-repeat: repeat-x;
    background-position: top center;
    border-top: none;
    border-left: none;
    border-left: none;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #848484
}
.dialog-content .xul-editPanel,
.xul-editPanel {
  height: 463px;
}
.content-toolbar {
    height: 32px;
}

.content-toolbar-button {
    width: 28px;
}

.content-toolbar-separator {
    width: 20px;
}

.toolbar-group-label-disabled {
    color: #777;
}

.toolbar-group-label {
    color: #000;
}

.toolbar-button {
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0);
    margin: 0px;
    width: 22px;
    height: 22px;
    -webkit-user-select: none;
    outline: none;
}

.IE .toolbar-button {
    border: 1px solid transparent;
}

input:focus {
    outline: none;
}

.toolbar-button.toolbar-button-hovering {
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid #00ff00;
    cursor: pointer;
    margin: 0px;
    width: 22px;
    height: 22px;
    -webkit-user-select: none;
    outline: none;
}

.IE .toolbar-button.toolbar-button-hovering {
    background: none;
    border: 1px solid #00ff00;
}

.toolbar-toggle-button {
    border: 1px solid rgba(0, 0, 0, 0);
    margin: 0px;
    width: 22px;
    height: 22px;
    -webkit-user-select: none;
}

.IE .toolbar-toggle-button {
    border: 1px solid transparent;
}

.toolbar-toggle-button-down {
    border: 1px solid #888;
    background-color: rgba(0, 0, 0, 0.4);
    margin: 0px;
    width: 22px;
    height: 22px;
    -webkit-user-select: none;
}

.IE .toolbar-toggle-button-down {
    border: 1px solid #888 !important; /* override the transparent value set in toolbar-toggle-button*/
}

.toolbar-toggle-button-down-hovering {
    border: 1px solid #00ff00;
    background-color: rgba(0, 0, 0, 0.4);
    margin: 0px;
    cursor: pointer;
}

.IE .toolbar-toggle-button-down-hovering {
    border: 1px solid #00ff00 !important;
    background: none;
    margin: 0px;
    cursor: pointer;
}

.toolbar-toggle-button-hovering {
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid #00ff00;
    cursor: pointer;
    margin: 0px;
}

.IE .toolbar-toggle-button-hovering {
    background: none;
    border: 1px solid #00ff00;
    cursor: pointer;
    margin: 0px;
}

.toolbar-combo-button {
    margin: 1px;
    padding-right: 14px;
    background-position: right center;
    background-repeat: no-repeat;
    background-image: url("../images/comboArrow.png");
    background-color: transparent;
    width: 22px;
    height: 22px;
}

.toolbar-combo-button-hovering {
    background-color: #E8E8E8;
    border: 1px solid #AAA;
    cursor: pointer;
    margin: 0px;
    width: 22px;
    height: 22px;
}

.toolbar-button-disabled {
    background-color: transparent;
}

.toolbar-button-disabled-hovering {
}

.toolbar-combo-button-disabled {
    margin: 1px;
    padding-right: 14px;
    background-color: transparent;
    background-position: right center;
    background-repeat: no-repeat;
    background-image: url("../images/comboArrow.png");
}

.toolbar-combo-button-hovering {
    border: 1px solid #AAA;
    margin: 0px;
}

.pentaho-titled-toolbar {
    background: #1A1A1A; /* Old browsers */
    background: -moz-linear-gradient(top, #1a1a1a 0%, #333333 50%, #000000 51%, #000000 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1a1a1a), color-stop(50%, #333333), color-stop(51%, #000000), color-stop(100%, #000000)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #1a1a1a 0%, #333333 50%, #000000 51%, #000000 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #1a1a1a 0%, #333333 50%, #000000 51%, #000000 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, #1a1a1a 0%, #333333 50%, #000000 51%, #000000 100%); /* IE10+ */
    background: linear-gradient(top, #1a1a1a 0%, #333333 50%, #000000 51%, #000000 100%); /* W3C */
    zoom: 1;

}

.IE .pentaho-titled-toolbar {
    background: url('images/bg_title.png') repeat-x;
}

.pentaho-titled-toolbar .pentaho-titled-toolbar-label {
    color: white;
    font-size: 13px;
}

.pentaho-bottom-bar {
    background: #1A1A1A; /* Old browsers */
    background: -moz-linear-gradient(top, #1a1a1a 0%, #333333 50%, #000000 51%, #000000 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1a1a1a), color-stop(50%, #333333), color-stop(51%, #000000), color-stop(100%, #000000)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #1a1a1a 0%, #333333 50%, #000000 51%, #000000 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #1a1a1a 0%, #333333 50%, #000000 51%, #000000 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, #1a1a1a 0%, #333333 50%, #000000 51%, #000000 100%); /* IE10+ */
    background: linear-gradient(top, #1a1a1a 0%, #333333 50%, #000000 51%, #000000 100%); /* W3C */
    zoom: 1;
}

.IE .pentaho-bottom-bar {
    background: url('images/bg_bottom_bar.png') repeat-x 0px -4px;
}

.pentaho-transparent {
    background-color: transparent;
}

.pentaho-gradient {
    background: #1A1A1A; /* Old browsers */
    background: -moz-linear-gradient(top, #1a1a1a 0%, #333333 50%, #000000 51%, #000000 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1a1a1a), color-stop(50%, #333333), color-stop(51%, #000000), color-stop(100%, #000000)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #1a1a1a 0%, #333333 50%, #000000 51%, #000000 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #1a1a1a 0%, #333333 50%, #000000 51%, #000000 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, #1a1a1a 0%, #333333 50%, #000000 51%, #000000 100%); /* IE10+ */
    background: linear-gradient(top, #1a1a1a 0%, #333333 50%, #000000 51%, #000000 100%); /* W3C */
}

.IE .pentaho-gradient {
    background: url('images/bg_title.png') repeat-x;
}

.pentaho-rounded-panel {
    border: 1px solid rgba(255, 255, 255, 0.59375);
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
    -moz-box-shadow: 2px 2px 6px 1px #333333;
    -webkit-box-shadow: 2px 2px 6px 1px #333333;
    box-shadow: 2px 2px 6px 1px #333333;
    background: rgba(255, 255, 255, 0.2);
    padding: 4px 4px 4px 4px;
}

.IE .pentaho-rounded-panel {
    background: url('../images/wt_transparent.png') repeat;
}

.pentaho-shine {
    background-color: transparent;

    background: -webkit-gradient(linear, left top, left bottom, from(rgba(170, 170, 170, 0.34)), color-stop(0.1, rgba(135, 135, 135, 0.34)), color-stop(0.5, rgba(50, 50, 50, 0.04)), color-stop(0.52, rgba(0, 0, 0, 0.25)), color-stop(0.8, rgba(0, 0, 0, 0.25)), to(rgba(10, 10, 10, 0.04)));

    background: -moz-linear-gradient(rgba(170, 170, 170, 0.34), rgba(135, 135, 135, 0.34) 10%, rgba(50, 50, 50, 0.04) 50%, rgba(0, 0, 0, 0.25) 52%, rgba(0, 0, 0, 0.25) 80%, rgba(10, 10, 10, 0.04) 100%) repeat scroll 0 0 transparent;

}

.IE .pentaho-shine {
    background: url('../images/shine_bg.png') repeat;
}

.pentaho-background {
    background-color: rgba(255, 255, 255, 0.2);
}

.pentaho-toolbar-background {
    background-color: rgba(255, 255, 255, 0.2);
}

.IE .pentaho-background {
    background: url('../images/wt_transparent.png') repeat;
}

.pentaho-padding-sm {
    padding: 4px;
}

.pentaho-padding-lg {
    padding: 8px;
}

.pentaho-tooltip-background {
    background-color: #444;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #AAA), color-stop(0.10, #888), color-stop(0.50, #3f3f3f), color-stop(0.55, #000), color-stop(0.90, #121212));
    background: -moz-linear-gradient(#AAAAAA, #888888 10%, #3F3F3F 50%, #000000 55%, #121212 90%) repeat scroll 0 0 transparent;
}

.IE .pentaho-tooltip-background {
    background: url('../images/wt_transparent.png') repeat;
}

.pentaho-tooltip-contents {
    background-color: #dedede;
    padding: 4px;
    border: 1px solid #848484;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;

    -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6), 0 0 3px rgba(255, 255, 255, 1) inset;
    /* Firefox */
    -moz-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6), 0 0 3px rgba(255, 255, 255, 1) inset;
    /* Standard Form */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6), 0 0 3px rgba(255, 255, 255, 1) inset;
}

.pentaho-shadow {
    -moz-box-shadow: 1px 1px 5px 1px #333333;
    -webkit-box-shadow: 1px 1px 5px 1px #333333;
    box-shadow: 1px 1px 5px 1px #333333;
}

.pentaho-shadow-inset-glow {
    -moz-box-shadow: 1px 1px 5px 0px #333333, 0 0 1px 1px rgba(255, 255, 255, .6) inset;
    -webkit-box-shadow: 1px 1px 5px 0px #333333, 0 0 1px 1px rgba(255, 255, 255, .6) inset;
    box-shadow: 1px 1px 5px 0px #333333, 0 0 1px 1px rgba(255, 255, 255, .6) inset;
}

.pentaho-shadow-no-offset {
    -moz-box-shadow: 1px 1px 5px 0px #333333;
    -webkit-box-shadow: 1px 1px 5px 0px #333333;
    box-shadow: 1px 1px 5px 0px #333333;
}

.pentaho-rounded-panel2 {
    border: 1px solid black;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;

    -moz-box-shadow: 0 0 1px 1px rgba(255, 255, 255, .6) inset;
    -webkit-box-shadow: 0 0 1px 1px rgba(255, 255, 255, .6) inset;
    box-shadow: 0 0 1px 1px rgba(255, 255, 255, .6) inset;
}

.pentaho-rounded-panel2-shadowed {
    border: 1px solid black;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;

    -moz-box-shadow: 1px 1px 5px 0px #333333, 0 0 1px 1px rgba(255, 255, 255, .6) inset;
    -webkit-box-shadow: 1px 1px 5px 0px #333333, 0 0 1px 1px rgba(255, 255, 255, .6) inset;
    box-shadow: 1px 1px 5px 0px #333333, 0 0 1px 1px rgba(255, 255, 255, .6) inset;
}

.pentaho-rounded-panel-bottom-lr {
    -moz-border-radius: 0px 0px 7px 7px;
    -webkit-border-radius: 0px 0px 7px 7px;
    border-radius: 0px 0px 7px 7px;
}

.pentaho-shadow-right-side {
    -moz-box-shadow: 2px 2px 4px 0 #333333;
    -webkit-box-shadow: 2px 2px 4px 0 #333333;
    box-shadow: 2px 2px 4px 0 #333333;
}

.pentaho-rounded-panel-right {
    border-top: 1px solid rgba(255, 255, 255, 0.59375);
    border-right: 1px solid rgba(255, 255, 255, 0.59375);
    border-bottom: 1px solid rgba(255, 255, 255, 0.59375);
    -moz-border-radius: 0px 5px 5px 0px;
    -webkit-border-radius: 0px 5px 5px 0px;
    border-radius: 0px 5px 5px 0px;
}

.pentaho-rounded-panel-top-right {
    border-top: 1px solid rgba(255, 255, 255, 0.59375);
    border-right: 1px solid rgba(255, 255, 255, 0.59375);
    -moz-border-radius: 0px 5px 0px 0px;
    -webkit-border-radius: 0px 5px 0px 0px;
    border-radius: 0px 5px 0px 0px;
}

.pentaho-rounded-panel-top-left {
    border-top: 1px solid black;
    border-left: 1px solid black;
    -moz-border-radius: 5px 0px 0px 0px;
    -webkit-border-radius: 5px 0px 0px 0px;
    border-radius: 5px 0px 0px 0px;
}

.pentaho-disclosure-panel{
    width:100%;
}

.pentaho-disclosure-panel .header td {
    text-shadow: 1px 2px 2px rgba(22, 24, 27, 0.5);
    color: white;
    font-size: 13px;
}

.pentaho-disclosure-panel-openicon {
    width: 16px;
    height: 16px;
    background: url('../images/disclosure_open.png') no-repeat scroll transparent;
}

.pentaho-disclosure-panel-closeicon {
    width: 16px;
    height: 16px;
    background: url('../images/disclosure_close.png') no-repeat scroll transparent;
}

.pentaho-disclosure-panel-open {
    width: 100%;
    padding: 6px 6px 0px 6px;
}

.pentaho-disclosure-panel-dropdown {
    padding: 0px 10px 0px 10px;
    overflow: hidden;
}

.pentaho-disclosure-panel-open .header {
    text-decoration: none;
    cursor: pointer;
    cursor: hand;
    background: black; /* Old browsers */
    background: -moz-linear-gradient(top, #535a62 0%, #535a64 49%, #535a62 50%, #464e56 51%, #464e56 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #535a62), color-stop(49%, #535a64), color-stop(50%, #535a62), color-stop(51%, #464e56), color-stop(100%, #464e56)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #535a62 0%, #535a64 49%, #535a62 50%, #464e56 51%, #464e56 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #535a62 0%, #535a64 49%, #535a62 50%, #464e56 51%, #464e56 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, #535a62 0%, #535a64 49%, #535a62 50%, #464e56 51%, #464e56 100%); /* IE10+ */
    background: linear-gradient(top, #535a62 0%, #535a64 49%, #535a62 50%, #464e56 51%, #464e56 100%); /* W3C */
    zoom: 1;

    border: 1px solid rgba(255, 255, 255, 0.59375);
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
    -moz-box-shadow: 2px 2px 6px 1px #333333;
    -webkit-box-shadow: 2px 2px 6px 1px #333333;
    box-shadow: 2px 2px 6px 1px #333333;
    padding: 4px 4px 4px 4px;
}

.IE .pentaho-disclosure-panel-open .header {
    border: none;
    background: url("images/bg_btn.png")
}

.pentaho-disclosure-panel-closed {
    width: 100%;
    padding: 6px 6px 0px 6px;
}

.pentaho-disclosure-panel-closed .header {
    text-decoration: none;
    cursor: pointer;
    cursor: hand;
    background: black; /* Old browsers */
    background: -moz-linear-gradient(top, #535a62 0%, #535a64 49%, #535a62 50%, #464e56 51%, #464e56 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #535a62), color-stop(49%, #535a64), color-stop(50%, #535a62), color-stop(51%, #464e56), color-stop(100%, #464e56)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #535a62 0%, #535a64 49%, #535a62 50%, #464e56 51%, #464e56 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #535a62 0%, #535a64 49%, #535a62 50%, #464e56 51%, #464e56 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, #535a62 0%, #535a64 49%, #535a62 50%, #464e56 51%, #464e56 100%); /* IE10+ */
    background: linear-gradient(top, #535a62 0%, #535a64 49%, #535a62 50%, #464e56 51%, #464e56 100%); /* W3C */
    zoom: 1;

    border: 1px solid rgba(255, 255, 255, 0.59375);
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
    -moz-box-shadow: 2px 2px 6px 1px #333333;
    -webkit-box-shadow: 2px 2px 6px 1px #333333;
    box-shadow: 2px 2px 6px 1px #333333;
    padding: 4px 4px 4px 4px;
}

.IE .pentaho-disclosure-panel-closed .header {
    border: none;
    background: url("images/bg_btn.png")
}

.contrast-color {
    color: white;
}

.contrast-background {
    background-color: #222222;
}

.section-header-outer {
    padding: 1px;
    background-color: #222222
}

.section-header-middle {
    padding: 1px;
}

.section-header-inner {
    color: white;
    border: 1px solid #888888;
    vertical-align: middle;
    padding-left: 4px;
}

/* ======================= File Chooser Styles ========================= */
.pentaho-file-chooser-selection {
    background-color: #dbdbdb;
}

/* ======================= Launcher Styles ========================= */
.pentaho-launcher-panel-shadowed {
    border: 1px solid black;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;

    -moz-box-shadow: 1px 1px 5px 0px #333333, 0 0 1px 1px rgba(255, 255, 255, .6) inset;
    -webkit-box-shadow: 1px 1px 5px 0px #333333, 0 0 1px 1px rgba(255, 255, 255, .6) inset;
    box-shadow: 1px 1px 5px 0px #333333, 0 0 1px 1px rgba(255, 255, 255, .6) inset;
}

.IE .pentaho-launcher-panel-shadowed {
    background: url('../images/wt_transparent.png') repeat;
}

.pentaho-launcher-shine {
    background-color: transparent;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.35)), to(rgba(255, 255, 255, 0.15)));
    background: -moz-linear-gradient(rgba(255, 255, 255, 0.35), rgba(255, 255, 255, 0.15) 100%) repeat scroll 0 0 transparent;
}

.IE .pentaho-launcher-shine {
    background: url('../images/container_bg.png') repeat;
}

/* ======================= Login Styles ========================= */
.login-panel {
    height: 100%;
    width: 100%;
    font-size: 13px;
    text-shadow: rgba(255, 255, 255, 0.398438) 0px 1px 0px;
    padding: 5px;
}

.login-panel-label {
    font-size: 13px;
    text-shadow: rgba(255, 255, 255, 0.398438) 0px 1px 0px;
}

.pentaho-light-text {
    color: #888888;
}

.panel-content {
    background: #d4d6db;
}

.pentaho-listbox-tb {
    border-top: 1px solid #9f9f9f;
    border-bottom: 1px solid #9f9f9f;
    background-color: white
}

.pentaho-listbox {
    border: 1px solid #9f9f9f;
    background-color: white;
    overflow: auto;
}

.pentaho-listitem {
    background-color: #ffffff;
    color: #000000;
    cursor: default;
}

.pentaho-listitem-selected {
    background-color: #dbdbdb;
    color: #000000;
    cursor: default;
    outline: none;
}

.pentaho-listitem-disabled {
    background-color: #ffffff;
    color: #808080;
    cursor: default;
}

.pentaho-listitem-hover {
    background-color: #cbefa3;
    color: #000000;
    cursor: default;
}

.pentaho-listitem-label {
    padding-left: 4px;
}

.pentaho-menuitem {
    background-color: #ffffff;
    padding: 2px;
    color: #000000;
}

.pentaho-menuitem-label {
}

.pentaho-menuitem.pentaho-menuitem-hover {
    background-color: #cbefa3;
    color: #000000;
    padding: 2px;
    cursor: default;
}

.pentaho-menu-outer {
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #000000;
    padding: 2px;
}

.pentaho-menu-separator {
    border-bottom: 2px solid white;
    border-top: 2px solid white;
    height: 5px;
    padding: 0;
}

.pentaho-menu-separator-inner {
    border-top: 1px solid #000000;
}

.pentaho-checkmenuitem {
    width: 16px;
    height: 16px;
    background: url('../images/checkbox-empty.png') no-repeat center;
}

.pentaho-checkmenuitem.menuitem-checked {
    width: 16px;
    height: 16px;
    background: url('../images/checkbox.png') no-repeat center;
}

.pentaho-menuitem-disabled {
    color: #808080;
}

.pentaho-droppanel {
    background-color: #D4D6DB;
    border: 1px solid rgba(0, 0, 0, 0.592);
    margin: 0 10px;
}

.pentaho-savebutton-small {
  width: 16px;
  height: 16px;
  background: url('../images/save_16.png') no-repeat center;
  cursor: pointer;
}
.pentaho-saveasbutton-small {
  width: 16px;
  height: 16px;
  background: url('../images/saveas_16.png') no-repeat center;
  cursor: pointer;
}
.pentaho-openbutton-small {
  width: 16px;
  height: 16px;
  background: url('../images/open_16.png') no-repeat center;
  cursor: pointer;
}
.pentaho-newbutton-small {
  width: 16px;
  height: 16px;
  background: url('../images/new_16.png') no-repeat center;
  cursor: pointer;
}

.pentaho-editbutton {
    width: 16px;
    height: 16px;
    background: url('../images/edit.png') no-repeat center;
    cursor: pointer;
}

.pentaho-editbutton.pentaho-imagebutton-disabled {
    width: 16px;
    height: 16px;
    background: url('../images/edit_disabled.png') no-repeat center;
    cursor: default;
}

.pentaho-addbutton {
    width: 16px;
    height: 16px;
    background: url('../images/add.png') no-repeat center;
    cursor: pointer;
}

.pentaho-addbutton.pentaho-imagebutton-disabled {
    width: 16px;
    height: 16px;
    background: url('../images/add_disabled.png') no-repeat center;
    cursor: default;
}

.pentaho-deletebutton {
    width: 16px;
    height: 16px;
    background: url('../images/remove.png') no-repeat center;
    cursor: pointer;
}

.pentaho-deletebutton.pentaho-imagebutton-disabled {
    width: 16px;
    height: 16px;
    background: url('../images/remove_disabled.png') no-repeat center;
    cursor: default;
}

.pentaho-datasourcebutton {
    width: 16px;
    height: 16px;
    background: url('../images/datasource_sm.png') no-repeat center;
    cursor: pointer;
}

.pentaho-closebutton.pentaho-imagebutton-hover {
    width: 16px;
    height: 16px;
    background: url('../images/close_sm.png') no-repeat center;
    cursor: pointer;
}

.pentaho-closebutton {
    width: 16px;
    height: 16px;
    background: url('../images/close_sm_disabled.png') no-repeat center;
    cursor: pointer;
}

.pentaho-closebutton.pentaho-imagebutton-disabled {
    width: 16px;
    height: 16px;
    background: url('../images/close_sm_disabled.png') no-repeat center;
    cursor: default;
}

.pentaho-closebutton-big {
    width: 30px;
    height: 30px;
    background: url('../images/close_big.png') no-repeat center;
    cursor: pointer;
}

.pentaho-closebutton-big.pentaho-imagebutton-disabled {
    width: 30px;
    height: 30px;
    background: url('../images/close_big.png') no-repeat center;
    cursor: default;
}

.pentaho-closebutton-big.pentaho-imagebutton-hover {
    width: 30px;
    height: 30px;
    background: url('../images/close_big_hover.png') no-repeat center;
    cursor: pointer;
}

.pentaho-undobutton {
    width: 16px;
    height: 16px;
    background: url('../images/undo.png') no-repeat center;
    cursor: pointer;
}

.pentaho-undobutton.disabled,
.pentaho-undobutton.pentaho-imagebutton-disabled {
  width: 16px;
  height: 16px;
  background: url('../images/undo_disabled.png') no-repeat center;
  cursor: default;
}

.pentaho-redobutton {
  width: 16px;
  height: 16px;
  background: url('../images/redo.png') no-repeat center;
  cursor: pointer;
}

.pentaho-redobutton.disabled,
.pentaho-redobutton.pentaho-imagebutton-disabled {
  width: 16px;
  height: 16px;
  background: url('../images/redo_disabled.png') no-repeat center;
  cursor: default;
}

.pentaho-downbutton {
    width: 16px;
    height: 16px;
    background: url('../images/16x16_down.png') no-repeat center;
    cursor: pointer;
}

.pentaho-downbutton.pentaho-imagebutton-disabled {
    width: 16px;
    height: 16px;
    background: url('../images/16x16_down_disabled.png') no-repeat center;
    cursor: default;
}

.pentaho-upbutton {
    width: 16px;
    height: 16px;
    background: url('../images/16x16_up.png') no-repeat center;
    cursor: pointer;
}

.pentaho-upbutton.pentaho-imagebutton-disabled {
    width: 16px;
    height: 16px;
    background: url('../images/16x16_up_disabled.png') no-repeat center;
    cursor: default;
}

.pentaho-optionsbutton {
    width: 16px;
    height: 16px;
    background: url('../images/options.png') no-repeat center;
    cursor: pointer;
}

.pentaho-optionsbutton.pentaho-imagebutton-disabled {
    width: 16px;
    height: 16px;
    background: url('../images/options_disabled.png') no-repeat center;
    cursor: default;
}

.pentaho-left-lgbutton {
    width: 26px;
    height: 33px;
    background: url('../images/lg_arrow_left_on.png') no-repeat center;
    cursor: pointer;
}

.pentaho-left-lgbutton.pentaho-imagebutton-disabled {
    width: 26px;
    height: 33px;
    background: url('../images/lg_arrow_left_off.png') no-repeat center;
    cursor: default;
}

.pentaho-right-lgbutton {
    width: 26px;
    height: 33px;
    background: url('../images/lg_arrow_right_on.png') no-repeat center;
    cursor: pointer;
}

.pentaho-right-lgbutton.pentaho-imagebutton-disabled {
    width: 26px;
    height: 33px;
    background: url('../images/lg_arrow_right_off.png') no-repeat center;
    cursor: default;
}

.pentaho-forecolorbutton {
    width: 16px;
    height: 16px;
    background: url('../images/font_color.png') no-repeat center;
    cursor: pointer;
}

.pentaho-forecolorbutton.pentaho-imagebutton-disabled {
    width: 16px;
    height: 16px;
    background: url('../images/font_color_disabled.png') no-repeat center;
    cursor: default;
}

.pentaho-backcolorbutton {
    width: 16px;
    height: 16px;
    background: url('../images/back_color.png') no-repeat center;
    cursor: pointer;
}

.pentaho-backcolorbutton.pentaho-imagebutton-disabled {
    width: 16px;
    height: 16px;
    background: url('../images/back_color_disabled.png') no-repeat center;
    cursor: default;
}

.pentaho-filterbutton {
    width: 16px;
    height: 16px;
    background: url('../images/filter.png') no-repeat center;
    cursor: pointer;
}

.pentaho-filterbutton.pentaho-imagebutton-disabled {
    width: 16px;
    height: 16px;
    background: url('../images/filter_disabled.png') no-repeat center;
    cursor: default;
}

.pentaho-layoutbutton {
    width: 16px;
    height: 16px;
    background: url('../images/field_layout.png') no-repeat center;
    cursor: pointer;
}

.pentaho-contextmenubutton {
    width: 15px;
    height: 15px;
    background: url('../images/options_menu_arrow.png') no-repeat center;
    cursor: pointer;
}

.pentaho-pagebackbutton {
    width: 18px;
    height: 18px;
    background: url('../images/page_back.png') no-repeat center;
    cursor: pointer;
}

.pentaho-pagebackbutton.pentaho-imagebutton-hover {
    width: 18px;
    height: 18px;
    background: url('../images/page_back_over.png') no-repeat center;
    cursor: pointer;
}

.pentaho-pagebackbutton.pentaho-imagebutton-disabled {
    width: 18px;
    height: 18px;
    background: url('../images/page_back_disabled.png') no-repeat center;
    cursor: default;
}

.pentaho-pagenextbutton {
    width: 18px;
    height: 18px;
    background: url('../images/page_forward.png') no-repeat center;
    cursor: pointer;
}

.pentaho-pagenextbutton.pentaho-imagebutton-hover {
    width: 18px;
    height: 18px;
    background: url('../images/page_forward_over.png') no-repeat center;
    cursor: pointer;
}

.pentaho-pagenextbutton.pentaho-imagebutton-disabled {
    width: 18px;
    height: 18px;
    background: url('../images/page_forward_disabled.png') no-repeat center;
    cursor: default;
}

.pentaho-trashbutton {
    width: 128px;
    height: 150px;
    background: url('../images/trashcan.png') no-repeat center;
}

.pentaho-trashbutton.pentaho-imagebutton-hover {
    background: url('../images/trashcan_full.png') no-repeat center;
    cursor: pointer;
}

.pentaho-toolbar-separator {
    width: 1px;
    height: 18px;
    background: url('../images/toolbar_separator.png') no-repeat center;
}

.pentaho-table {
    background: black;
}

.pentaho-table-header-cell {
    padding: 8px;

    background: #1a1a1a; /* Old browsers */
    background: -moz-linear-gradient(top, #1a1a1a 0%, #333333 50%, #000000 51%, #000000 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1a1a1a), color-stop(50%, #333333), color-stop(51%, #000000), color-stop(100%, #000000)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #1a1a1a 0%, #333333 50%, #000000 51%, #000000 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #1a1a1a 0%, #333333 50%, #000000 51%, #000000 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, #1a1a1a 0%, #333333 50%, #000000 51%, #000000 100%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#FF777777', endColorstr = '#FF000000');
    zoom: 1;
    background: linear-gradient(top, #1a1a1a 0%, #333333 50%, #000000 51%, #000000 100%); /* W3C */
}

.pentaho-table-header-cell .label {
    color: white;
}

.pentaho-table-cell {
    background-color: white;
    padding: 0px 10px 0px 10px;
}

.pentaho-list-box {
    border: 1px solid #333333;
}

.categoryIndicator {
    cursor: pointer;
}

.treenode-branch {
    display: inline;
}

.treenode-open {
    background: url('../images/minus.gif');
    width: 16px;
    height: 16px;
    float: left;
}

.treenode-closed {
    background: url('../images/plus.gif');
    width: 16px;
    height: 16px;
    float: left;
}

.treenode-leaf-label {
    margin-left: 16px;
    padding-left: 16px;
    height: 16px;
}

.fieldlist-filtered-field {
    background-image: url('../images/filter_sm.png');
    background-repeat: no-repeat;
    background-position: 2px 2px;
}

.dragDropAvatar {
    padding: 4px;
    background-color: #cbefa3;

    border: 1px solid #87df27;

    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}

.dragDropTargetArea.highlightTarget {
    background-color: #cbefa3;
}

.dragDropTargetArea {
    background-color: #ffffff;
    border: 1px solid #464f57;
    padding: 2px;
}

.dragDropTargetAreaHint {
    color: #898b8f;
    font-size: 16px;
    text-align: center;
}

/* styles for splash/logo dialogs */
.splash-content {
    /* fallback color */
    background: #000000;
    /* Safari/Chrome */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #000000), color-stop(0.9, #666666));
    /* Firefox */
    background: -moz-linear-gradient(#000000, #666666 90%) repeat scroll 0 0 transparent;

    /* IE 7-9 */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#000000', endColorstr = '#666666');
}

.splashimage {
    padding-top: 25px;
}

.splashtitle {
    padding-top: 25px;
    color: white;
    font-size: 18px;
    vertical-align: top;
    heightx: 60px;
}

.splashtext {
    color: white;
    padding-left: 30px;
    padding-top: 25px;
    vertical-align: top;
    line-height: 2em;
}

/* this style can be used to force padding on an element so the shadow of its child element can be seen */
.pentaho-shadow-padding {
    padding-right: 8px;
    padding-bottom: 8px;
}

.pentaho-dropdownbutton-outer {
    padding: 4px;
    background: #888;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #AAA), color-stop(0.10, #888), color-stop(0.50, #3f3f3f), color-stop(0.55, #000), color-stop(0.90, #121212));
    background: -moz-linear-gradient(#AAAAAA, #888888 10%, #3F3F3F 50%, #000000 55%, #121212 90%);
    border: 1px outset gray;
    cursor: pointer;
    font-size: 0px;

    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#888888', endColorstr = '#121212');
    zoom: 1;
}

.pentaho-dropdownbutton-outer.pentaho-disabled {
    padding: 4px;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #AAA), color-stop(0.10, #888), color-stop(0.50, #8d8d8d), color-stop(0.55, #727272), color-stop(0.90, #747474));
    background: -moz-linear-gradient(#AAA, #BBB 10%, #8d8d8d 50%, #727272 55%, #747474 90%);

    border: 1px outset gray;
    font-size: 0px;
}

.pentaho-dropdownbutton-inner {
    background-image: url('../images/combo_drop_arrow.png');
    background-position: center center;
    background-repeat: no-repeat;
    cursor: pointer;
    height: 8px;
    width: 10px;
    font-size: 0px;
}

.pentaho-dropdownbutton-inner.pentaho-disabled {
    background-image: url('../images/combo_drop_arrow.png');
    background-position: center center;
    background-repeat: no-repeat;
    cursor: pointer;
    height: 8px;
    width: 10px;
    font-size: 0px;
}

.tundra .dijitArrowButtonInner {
  background:url("../images/comboArrow.png") no-repeat scroll 0 center;
  width: 16px;
  height: 16px;
  /*margin: 0 4px 0 4px;*/
}
.dialog-content .dijitComboBox .dijitArrowButton {
  /* fallback color */
  background: #000000;
  /* Safari/Chrome */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #AAA), color-stop(0.10, #888), color-stop(0.50, #3f3f3f), color-stop(0.55, #000), color-stop(0.90, #121212));
  /* Firefox */
  background: -moz-linear-gradient(#AAAAAA, #888888 10%, #3F3F3F 50%, #000000 55%, #121212 90%) repeat scroll 0 0 transparent;

  font-size: 12px;
  color: #ffffff;

  /* Standard form */
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;

  /* Firefox */
  -moz-border-top-right-radius: 5px;
  -moz-border-bottom-right-radius: 5px;

  /* Safari/Chrome */
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;

  border: 1px solid #333;

  /* Safari/Chrome */
  -webkit-box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.5), 0 1px 3px rgba(255, 255, 255, 0.7), 0 0 2px rgba(0, 0, 0, 0.7) inset;
  /* Firefox */
  -moz-box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.5), 0 1px 3px rgba(255, 255, 255, 0.7), 0 0 2px rgba(0, 0, 0, 0.7) inset;
  /* Standard form */
  box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.5), 0 1px 3px rgba(255, 255, 255, 0.7), 0 0 2px rgba(0, 0, 0, 0.7) inset;

  white-space: nowrap;
  text-shadow: 0px 0px 2px rgba(000, 000, 000, 1);
  cursor: pointer;
}

.IE .dialog-content .dijitComboBox .dijitArrowButton {
  height: auto;
  background: #000000 url('images/bg_btn.png') repeat-x left center;
  background-position: center center;
}

.dialog-content .dijitComboBox .dijitArrowButton input[type='text'] {
  border: none;
  height: 20px !important;
}

.dijitComboBox {
  /* Standard form */
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;

  /* Firefox */
  -moz-border-top-right-radius: 5px;
  -moz-border-bottom-right-radius: 5px;

  /* Safari/Chrome */
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
}


.dijitSelect {
  /* Standard form */
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;

  /* Firefox */
  -moz-border-top-right-radius: 5px;
  -moz-border-bottom-right-radius: 5px;

  /* Safari/Chrome */
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
}
.tundra .dijitSelect .dijitArrowButton {
  /* fallback color */
  background: #000000;
  /* Safari/Chrome */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #AAA), color-stop(0.10, #888), color-stop(0.50, #3f3f3f), color-stop(0.55, #000), color-stop(0.90, #121212));
  /* Firefox */
  background: -moz-linear-gradient(#AAAAAA, #888888 10%, #3F3F3F 50%, #000000 55%, #121212 90%) repeat scroll 0 0 transparent;

  font-size: 12px;
  color: #ffffff;

  border: none;

  /* Standard form */
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;

  /* Firefox */
  -moz-border-top-right-radius: 5px;
  -moz-border-bottom-right-radius: 5px;

  /* Safari/Chrome */
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;


  /* Safari/Chrome */
  -webkit-box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.5), 0 1px 3px rgba(255, 255, 255, 0.7), 0 0 2px rgba(0, 0, 0, 0.7) inset;
  /* Firefox */
  -moz-box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.5), 0 1px 3px rgba(255, 255, 255, 0.7), 0 0 2px rgba(0, 0, 0, 0.7) inset;
  /* Standard form */
  box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.5), 0 1px 3px rgba(255, 255, 255, 0.7), 0 0 2px rgba(0, 0, 0, 0.7) inset;

  white-space: nowrap;
  text-shadow: 0px 0px 2px rgba(000, 000, 000, 1);
  cursor: pointer;
}

.pentaho-chart-icon-large {
  background: url("../images/chart.png") no-repeat;
  height: 48px;
  width: 48px;
}
.pentaho-settings-icon-large {
  background: url("../images/settings.png") no-repeat;
  height: 48px;
  width: 48px;
}
.pentaho-settings-complete-icon-large {
  background: url("../images/settings_done.png") no-repeat;
  height: 48px;
  width: 48px;
}
.pentaho-play-icon-large {
  background: url("../images/play.png") no-repeat;
  height: 48px;
  width: 48px;
}
.pentaho-play-complete-icon-large {
  background: url("../images/play_done.png") no-repeat;
  height: 48px;
  width: 48px;
}
/* FieldsetPane styles - start */
.pentaho-fieldset-pane {

}
.pentaho-fieldset-pane-header {
  border-bottom: 2px #BBB solid;
  overflow:visible;
  height: 12px;
  margin: 5px 0 10px 0;
}
.pentaho-fieldset-pane-header .pentaho-fieldset-pane-title {
  padding: 0 5px;
  background-color: #d4d6db;
  font-size: 18px;
}
/* pentaho fieldset pane styles - end */

.disabledpane {
  top: auto;
  left: auto;
  position: absolute;
  /* bg color is the same as panel-content so it will blend in */
  background-color: #d4d6db;
  /* IE8 css hack for opacity */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=65)";
  filter: alpha(opacity = 65);
  opacity: 0.65;
  height: 100%;
  width: 100%;
  z-index: 300;
  margin: 0px;
  padding: 0px;
  display: none;

  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.tundra .dijitTabContainerTopNone {
  margin-left: 3px;
}

.tundra .dijitTabCloseButton {
  background: url("../images/close_sm_disabled.png") no-repeat;
  height: 16px;
  width: 16px;
}

.tundra .dijitTabCloseButtonHover {
  background: url("../images/close_sm.png") no-repeat;
  height: 16px;
  width: 16px;
}

.tundra .dijitTabInnerDiv {
  padding: 2px;
}
.workspaceHeading,
.pentaho-fieldgroup-major {    
	font-size: 24px;
  color: #333;
  text-shadow: 0px 1px 1px rgba(255, 255, 255, .6);
}
.authMethod{
	color: #000;
	/*text-shadow: 0px 1px 1px rgba(255, 255, 255, .6);*/
}
.authText{
	color: #000;
}

.pentaho-fieldgroup-minor {    
	font-size: 16px;
    color: #000000;
}

.warning{
    background: url('images/warning-icon.png') no-repeat 30px center #FBEADC;
    padding: 30px;
    border-radius: 5px;
    border-color: #DDD;
    border-width: 1px;
    border-style: solid;
    width:600px;
}

.warning .icon{
    width: 20px;
    height: 70px;
    float: left;
    padding-right: 8px;
}

.warning .warning-header{
    font-size: 1.25em;
    color: red;
}

#pucHeader {
    display:inline-block;
    width:100%;
    background-color:#000;
    height: 84px;
}

#pucContent {  	
  	top: 84px; /* Top must be the same as height in #puchHeader */
}

#pucMenuBar {
    display:inline-block
}

#pucPerspectives {
    display:inline-block;
    float:right;
}

/* -- new spinner stuff -- */
.busy-indicator-container {
  display: block;
}
.busy-indicator-container-wrapper {
  display: table;
}
.spinner {

}
.spinner div > div {
  /* spin.js uses inline styles, so we have to override those with !important to acheive theme-ability*/
  background-color: #999 !important;
}

.large-spinner {
  height: 48px;
  width: 48px;
}
.medium-spinner {
  height: 32px;
  width: 32px;
}
.small-spinner {
  height: 16px;
  width: 16px;
}
.busy-indicator-spinner,
.pentaho-busy-indicator-spinner {
  display: table-cell;
  width: 48px;
  height: 48px;
  vertical-align: middle;
  padding: 20px;
}
.pentaho-busy-indicator-msg-contianer {
  display: table-cell;
  vertical-align: middle;
}

.waitPopup {
  position: absolute;
  width: 330px;
  top: 44%;
  right: 0px;
  left: 0px;
  margin: auto;
  z-index: 20001;
  height: auto;
  border: 1px solid #ccc;
  background: white;
}
.waitPopup_title {
  color: #444;
  font-weight: bold;
  font-size: 16px;
  padding-bottom: 3px;
  width: 262px;
}

.waitPopup_msg {
  color: #444;
  font-weight: normal;
  font-size: 13px;
  white-space: normal;
  width: 262px;
}

/* == == == == */
.icon-small {
  height:16px;
  width: 16px;
}
.icon-medium {
  height: 32px;
  width: 32px;
}
.icon-large {
  height: 48px;
  width: 48px;
}

.refresh-browse-perspective,
.icon-small.icon-refresh {
  background: url('../images/refresh-small.png');
  height: 16px;
  width: 16px;
  cursor: pointer;
}

.icon-small.icon-refresh.disabled {
  background: url('../images/refresh-small-disabled.png');
}

.icon-small.icon-run {
  background: url('../images/run-small.png');
}

.icon-small.icon-run.disabled {
  background: url('../images/run-small-disabled.png');
}

.icon-small.icon-open-folder {
  background: url('../images/open_16.png');
}

.icon-small.icon-open-folder.disabled {
  background: url('../images/open_16_disabled.png');
}

.icon-small.icon-update {
  background: url('../images/update.png');
}

.icon-small.icon-update.disabled {
  background: url('../images/updateDisabled.png');
}

.icon-small.icon-misc {
  background: url('../images/misc-small.png');
}

.icon-small.icon-misc.disabled {
  background: url('../images/misc-small-disabled.png');
}

.icon-small.icon-drop-valid {
  background: url('../images/drop_valid.png');
}
.icon-small.icon-drop-invalid {
  background: url('../images/drop_invalid.png');
}

.icon-small.icon-analysis {
  background: url('../images/file_analysis.png');
}
.icon-small.icon-xaction {
  background: url('../images/file_action.png');
}
.icon-small.icon-url {
  background: url('../images/file_url.png');
}
.icon-small.icon-file {
  background: url('../images/fileIcon.gif');
}
.icon-small.icon-folder {
  background: url('../images/folderIcon.png');
}
.icon-small.icon-waqr-report {
  background: url('../images/file_waqr_report.png');
}
.icon-small.icon-analyzer {
  background: url('../images/file_analyzer.png');
}
.icon-small.icon-pir-report {
  background: url('../images/file_pir_report.png');
}
.icon-small.icon-prpt-report {
  background: url('../images/file_prpt_report.png');
}
.icon-small.icon-dashboard {
  background: url('../images/file_dashboard.png');
}
.icon-small.icon-stop {
  background: url('../images/stop-small.png');
}
.icon-small.icon-stop-scheduler {
  background: url('../images/stop-scheduler-small.png');
}
.icon-small.icon-start-scheduler {
  background: url('../images/start-scheduler-small.png');
}
.icon-small.icon-execute {
  background: url('../images/execute-small.png');
}
.icon-small.icon-filter-add {
  background: url('../images/filter-add-small.png');
}
.icon-small.icon-filter-active {
  background: url('../images/filter-active-small.png');
}
.icon-small.icon-filter-remove {
  background: url('../images/filter-remove-small.png');
}

.icon-medium.icon-open {
  background: url('../images/open_32.png');
}
.icon-medium.icon-save {
  background: url('../images/save_32.png');
}
.icon-medium.icon-save.disabled {
  background: url('../images/save_32_disabled.png');
}
.icon-medium.icon-saveAs {
  background: url('../images/saveAs_32.png');
}
.icon-medium.icon-saveAs.disabled {
  background: url('../images/saveAs_32_disabled.png');
}
.icon-medium.icon-print {
  background: url('../images/print_32.png');
}
.icon-medium.icon-print.disabled {
  background: url('../images/print_32_disabled.png');
}
.icon-medium.icon-edit.disabled {
  background: url('../images/editContent_32.png');
}
.icon-medium.icon-edit.disabled {
  background: url('../images/editContent_32_disabled.png');
}

.icon-small.icon-accum-add {
  background: url('../images/accum_add.png');
  height: 13px;
  width: 14px;
}
.icon-small.icon-accum-add-all {
  background: url('../images/accum_add_all.png');
  height: 13px;
  width: 14px;
}
.icon-small.icon-accum-remove {
  background: url('../images/accum_remove.png');
  height: 13px;
  width: 14px;
}
.icon-small.icon-accum-remove-all {
  background: url('../images/accum_remove_all.png');
  height: 13px;
  width: 14px;
}
.icon-tree-leaf {
  height: 14px;
  width: 35px;
}
.icon-tree-leaf.icon-recycle-bin {
  background: url('../images/recycle_bin.png');
  height: 16px;
}
.icon-tree-leaf.icon-folder {
  background: url('../images/treeLeaf.png');
}

.favorite-on {
  background: url("../images/favorite-on.png");
  height: 32px;
  width: 32px;
}
.favorite-off {
  background: url("../images/favorite-off.png");
  height: 32px;
  width: 32px;
}

.pentaho-table {
  border-spacing: 1px;
  background-color: #848484;
}

.pentaho-table th{
  font-family: Arial, sans-serif;
  font-size: 13px;
  border-spacing: 1px;
  padding: 10px 10px 12px 10px;
  font-weight: normal;
}
.schedulesPanel .gwt-ScrollTable .dataTable td {
  padding: 10px 10px 12px 10px;
}
.schedulesPanel .gwt-ScrollTable .headerTable td {
  padding: 8px 10px 10px 10px;
}
.gwt-ScrollTable .dataTable td {
  padding: 4px 10px 4px 10px;
}
.gwt-ScrollTable .dataTable td {
  padding: 6px 10px 8px 10px;
/*  padding: 10px 10px 12px 10px;*/
}
.gwt-ScrollTable .headerTable td {
  padding: 10px 10px 12px 10px;
}
#contentLinkingAssignmentTable .gwt-ScrollTable .headerTable td,
#propertiesPanelParameterAssignmentTable .gwt-ScrollTable .headerTable td {
  padding: 8px 10px 6px 10px;
  height: 20px;
  font-size: 14px;
}
.IE .headerTable td {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#FF777777', endColorstr = '#FF000000');
}

/* dojo grid styles ------------------------- */
.soria .dojoxGrid {
    background-color: transparent;
    font-size: 14px;
}

/* header */

.soria .dojoxGridHeader {
    background-color: transparent;
}

.soria .dojoxGridHeader .dojoxGridCell {
  font-family: Arial, sans-serif;
  font-size: 14px;
  border-spacing: 1px;
  padding: 10px 10px 12px 10px;
  font-weight: normal;
  background: #1a1a1a; /* Old browsers */
  background: -moz-linear-gradient(top, #1a1a1a 0%, #333333 50%, #000000 51%, #000000 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1a1a1a), color-stop(50%,#333333), color-stop(51%,#000000), color-stop(100%,#000000)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #1a1a1a 0%,#333333 50%,#000000 51%,#000000 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #1a1a1a 0%,#333333 50%,#000000 51%,#000000 100%); /* Opera11.10+ */
  background: -ms-linear-gradient(top, #1a1a1a 0%,#333333 50%,#000000 51%,#000000 100%); /* IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#FF777777', endColorstr = '#FF000000');
  zoom: 1;
  background: linear-gradient(top, #1a1a1a 0%,#333333 50%,#000000 51%,#000000 100%); /* W3C */
  color:white;
}

/* rows */

.soria .dojoxGridRow {
    border: none;
    background-color: white;
}

.soria .dojoxGridRowOver .dojoxGridCell {
    background-color: #cbefa3;
    color:#000;
}

.soria .dojoxGridRowSelected {
    background-color: #dbdbdb;
}

/* cells */

.soria .dojoxGridCell {
    border: 1px solid #BEBEBE;
    font-size: 14px;
    padding: 10px 10px 12px 10px;
}

.soria .dojoxGridCellOver {
    border: 1px solid #a6a6a6;
}

.caption .captionIcon {
  display: inline-block;
}

.drag_and_drop_label_content{
  color: black;
  width: 220px;
  height: 100px;
  background-image:  url('./images/drop_here.png');
  background-repeat: no-repeat;
  background-position: 1px 0px;
  position: absolute;
  margin: auto;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
}

.drag_and_drop_label_text{
  font-size: 21px;
  color: #333;
  margin: 0;
  text-align: left;
  position: relative;
  padding: 0px 0px 0 70px;
}

.drag_and_drop_label_wrapper{
  height: 100px;
  overflow: hidden;
  margin: 0;
  background-color: #fff;
  display: none;
  padding: 0px;
}

.drag_and_drop_label .drag_and_drop_label_wrapper {
  display: block;
}

/* Login page styles */
#login-background {
  background: url(images/login-onyx-bg.jpeg);
  height: 663px;
  width: 1255px;
  top: 90px;
  margin: 0 auto;
  position: relative;
}
#login-logo {
  background: url(../images/puc-login-logo.png) no-repeat left;
  width: 0;
  height: 93px;
  left: 750px;
  top: 90px;
  position: relative;
  opacity: 0.5;
  -moz-transition: width 600ms linear, left 600ms linear, opacity 1s linear;
  -webkit-transition: width 600ms linear, left 600ms linear, opacity 1s linear;
  transition: width 600ms linear, left 600ms linear, opacity 1s linear;
}
#login-logo.afterSlide {
  width: 560px;
  left: 150px;
  opacity: 1;
}

#login-input-container {
  height: 155px;
  top: 50%;
  margin-top: -77px;
  position: absolute;
}
#login-form-container {
  left: 585px;
  top: 178px;
  width: 550px;
  position: relative;
}

#login INPUT[type="text"],
#login INPUT[type="password"] {
  margin-right: 20px;
  width: 202px;
}

#login-form-container H1 {
  font-size: 44px;
  line-height: 44px;
  margin-bottom: 30px;
}
#login-footer-wrapper{
  position: relative;
  top: 100px; /* 90 from top of background image + 10*/
  margin-left: auto;
  margin-right: auto;
  text-align: right;
  left: 0px;
  width: 1255px;
  display: block;
  overflow: hidden;
}
#login-footer{
  float: right;
  font-size: 13px;
  color: #939DA0;
  white-space: nowrap;
  width: 0px;
  opacity: 0.5;
  display: block;
  -moz-transition: width 600ms linear, opacity 1s linear;
  -webkit-transition: width 600ms linear, opacity 1s linear;
  transition: width 600ms linear, opacity 1s linear;
}
#login-footer.afterSlide {
  width: 400px;
  opacity: 1;
}

#eval-users-toggle {
  font-size: 13px;
  color: #1973BC;
  margin-top: 18px;
  white-space: nowrap;
  cursor: pointer;
  display: inline-block;
}
#eval-users-toggle > DIV {
  display: inline-block;
}

#animate-wrapper {
  left: 550px;
  width: 0;
  overflow: hidden;
  position: relative;
  opacity: 0.5;
  -moz-transition: width 600ms linear, left 600ms linear, opacity 1s linear;
  -webkit-transition: width 600ms linear, left 600ms linear, opacity 1s linear;
  transition: width 600ms linear, left 600ms linear, opacity 1s linear;
}
#animate-wrapper.afterSlide {
  left: 0px;
  width: 550px;
  opacity: 1;
}
#login-wrapper {
  height: 790px;
}
#login,
#animate-wrapper > H1 {
  white-space: nowrap;
}
#evaluationPanel {
  position: relative;
  top: -7px;
  height: 0px;
  border: 1px solid transparent;
  opacity: 0.8;
  overflow: hidden;
  -moz-transition: all 200ms linear;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}
.IE8 #evaluationPanel {
  display: none;
}

#evaluationPanel.afterSlide {
  top: -7px;
  height: 130px;
  border: 1px solid #cbdde8;
  opacity: 1;
  background-color: #FFF;
}
.IE8 #evaluationPanel.afterSlide {
  display: block;
}

#loginError,
#systemDown {
  padding-bottom: 8px;
  width: 400px;
  position: absolute;
  left: 38%;
  top: 40%;
}
  /* end Login page styles */

.custom-dropdown-arrow {
  background-image: url('../images/dropdown_arrow_gray.png');
  background-repeat: no-repeat;
  height: 11px;
  width: 17px;
}

.custom-dropdown-arrow.custom-dropdown-pressed {
  background-image: url('../images/dropdown_arrow_blue.png');
}

.custom-dropdown-arrow.small {
  background-image: url('../images/arrow-dark-small.png');
  background-repeat: no-repeat;
  height: 8px;
  width: 12px;
}

.custom-dropdown-arrow.small.custom-dropdown-pressed {
  background-image: url('../images/arrow-light-small.png');
}

/*
 * Toolbar buttons
 */
.pentaho-smallmeasurebutton {
    width: 16px;
    height: 16px;
    background-image: url("../images/sm_measure_icon.png");
}

.pentaho-smalldimensionbutton {
    background-image: url("../images/sm_dim_icon.png");
    width: 16px;
    height: 16px;
}

.pentaho-smallhierarchybutton {
    background-image: url("../images/sm_hierarchy_icon.png");
    width: 13px;
    height: 13px;
}

.pentaho-smalllevelbutton {
    background-image: url("../images/sm_level_icon.png");
    width: 16px;
    height: 16px;
}

.pentaho-smallmemberpropbutton {
    background-image: url("../images/sm_member_prop_icon.png");    
    width: 16px;
    height: 16px;
}

.pentaho-smallcategorybutton {
    background-image: url("../images/sm_folder_icon.png");    
    width: 16px;
    height: 16px;
}

.pentaho-fieldbutton {
    background-image: url("../images/field_list.png");    
    width: 16px;
    height: 16px;
}

.pentaho-autopopulatebutton {
    background-image: url("../images/autogen_model.png");
    width: 16px;
    height: 16px;
}

.pentaho-addfieldbutton {
    background-image: url("../images/insert_to_model.png");
    width: 16px;
    height: 16px;
}

.pentaho-refreshbutton {
    background-image: url("../images/refresh.png");    
    width: 16px;
    height: 16px;
}

.pentaho-helpbutton {
    background-image: url("../images/help_link.png");    
    width: 16px;
    height: 16px;
}

.pentaho-clearmodelbutton {
    background-image: url("../images/clear_model.png");    
    width: 16px;
    height: 16px;
}

.pentaho-smallremovebutton {
    background-image: url("../images/sm_remove.png");    
    width: 16px;
    height: 16px;
}

.pentaho-expandallbutton {
    background-image: url("../images/ExpandAll.png");    
    width: 15px;
    height: 15px;
}

.pentaho-collapseallbutton {
    background-image: url("../images/CollapseAll.png");    
    width: 15px;
    height: 15px;
}

.penatho-smalleditbutton {
    background-image: url("../images/sm_edit.png");    
    width: 16px;
    height: 16px;
}

.pentaho-warningbutton {
    background-image: url("../images/warning.png");    
    width: 16px;
    height: 16px;
}

.pentaho-updatebutton {
    background-image: url("../images/update.png");    
    width: 16px;
    height: 16px;
}

.pentaho-updatebutton.pentaho-imagebutton-disabled {
  background-image: url("../images/updateDisabled.png");    
  width: 16px;
  height: 16px;
}

.pentaho-movearrowbutton {
  background-image: url("../images/move_arrow.png");    
  width: 16px;
  height: 16px;
}

.pentaho-movearrowbackbutton {
  background-image: url("../images/move_arrow_back.png");    
  width: 16px;
  height: 16px;
}

.pentaho-chevron {
  background-image: url("../images/24x24_chevron_green.png");    
  width: 16px;
  height: 16px; 
}

.pentaho-filechooseupbutton {
  background-image: url("../images/up.png");    
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.pentaho-addcombobutton {
  width: 22px;
  height: 22px;
  background: url('../images/add_combo.png') no-repeat center;
  cursor: pointer;
}

.pentaho-addcombobutton.pentaho-imagebutton-disabled {
  width: 22px;
  height: 22px;
  background: url('../images/add_combo_disabled.png') no-repeat center;
  cursor: default;
}

.pentaho-exportbutton{
  width: 22px;
  height: 22px;
  background: url('../images/export.png') no-repeat center;
  cursor: pointer;
}

.pentaho-exportbutton.pentaho-imagebutton-disabled {
  width: 22px;
  height: 22px;
  background: url('../images/export_disabled.png') no-repeat center;
  cursor: default;
}
#ldapSecurityAdminPanel html{
	background: transparent;
}
.fileBrowserColumn .header{
  border: 0;
  font-size: 18px;
  text-shadow: 0px 1px 1px rgba(255, 255, 255, .6);
}

#fileBrowserFiles.fileBrowserColumn .body,
#fileBrowserFolders.fileBrowserColumn .body {
  background: #fff;
  padding: 4px 10px;
  border: 1px solid #333;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  top: 35px;
  bottom: 8px;
  left: 8px;
  right: 8px;
}
.fileBrowserColumn .body .folder.selected > .element {
  font-weight: normal;
  background: #d7e9cd;
}

.fileBrowserColumn .body .folder.secondarySelected > .element {
  font-weight: normal;
  background: rgb(224, 224, 224);
}

.fileBrowserColumn .body .file.selected{
  background: #d7e9cd;
  font-weight: normal;
}

.fileBrowserColumn .body .file.selected {
  font-weight: normal;
}
.flag{
	background: transparent url('images/flag-right.png') no-repeat scroll top right;
}

#fileBrowser{
	padding: 10px 0;
}

#datasource-button-bar {
  padding: 0 13px;
}
.colorpickertabs.tabpanel {
  padding: 0px;
  height:230px;
  width: 222px;
  display:block;
  border: 1px solid #444444;
}

.clickable {
	cursor: pointer;
}